@import '../../styles/mixins';

.browser-default-page {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: transparent;
  overflow: hidden;

  .bgIframe {
    width: 100vw !important;
    height: 100vh !important;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: transparent;
    z-index: 777;
    overflow: hidden;
  }
}
